body
{
	background-image:url('p1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.login_div1 , .login_div2
{
		background: blueviolet;
		padding: 10px;
		float: none;
		border-radius: 15px;
}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#h{
	font-weight: bold;
	color:black;
}
#player1_name_input{
	-webkit-text-security: disc;
}
#player2_name_input{
	-webkit-text-security: disc;

}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
#number1{
	-webkit-text-security: disc;
}
#number2{
	-webkit-text-security: disc;

}